.container__challenge {
    height: 100%;
    width: 100%;
}

.Navbar__ul {
    display: flex;
    justify-content: space-around;
}
.Navbar__ul li {
    font-size: 2rem;
    cursor: pointer;
    transition: all ease .2s;
    
}
.Navbar__ul li:hover {
    color: blue;
    font-weight: 900;
}
.FCC__MarkdownPreviewer {
    height: 100%;
    width: 100%;
    display: flex;
}

.FCC__MarkdownPreviewer .Editor {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border: solid #ccc 1px;
    padding: 2.4rem;
    display: flex;
    justify-content: center;
}

.FCC__MarkdownPreviewer .Editor #editor {
    width: 100%;
    height: 100%;
}

.FCC__MarkdownPreviewer .Preview {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.FCC__MarkdownPreviewer .Preview #preview {
    width: 100%;
    height: 100%;
    border: solid #ccc 1px;
    padding: 1rem;
    overflow-x: auto;
    overflow-y: auto;
}

.FCC__MarkdownPreviewer .Preview #preview a {
    display: block;
    text-decoration: initial;
    color: #0061bb;
}

@media screen and (min-device-width: 900px) and (-webkit-min-device-pixel-ratio: 1) {
    .FCC__MarkdownPreviewer {
        padding: 2rem;
    }
}